body {
    background-color: #FFDEB4;
    min-height: 100vh;
    padding-top: 3.25rem;
}

.section {
    background-color: #FFDEB4;
    padding: 1rem 1.5rem;
    max-width: 750px;
    margin: auto;
}

/*img {
    object-fit:cover;
    width:100%;
    height:100%;
}*/
.modal-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.nickname {
    margin: 2px 0;
    width: 80%;
    height: 20px;
    font-size: 12px;
    font-weight: 900;
}

.text {
    font-size: 14px;
    margin-bottom: 3px;
}

.savedComment {
    font-size: 14px;
    margin-top: 3px;
}

.is-sparta {
    font-family: 'Jua', sans-serif;
}

.medium {
    font-size: 20px;
}

.large {
    font-size: 40px;
}

.button.is-sparta {
    background-color: #B2A4FF;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #B2A4FF;
    color: #B2A4FF !important;
}

.button.is-sparta.is-outlined:hover {
    border-color: #FFB4B4;
    color: #FFB4B4 !important;
    transition: color 0.4s;
}


.modal-content {
    width: 600px;
    max-width: 80%;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

#post-box {
    background-color: #fff;
    width: 200px;
    height: 300px;
}

.comments-box {
    border-top: 1px solid rgba(219, 219, 219, .5);
    border-bottom: 1px solid rgba(219, 219, 219, .5);
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: 0 auto 5px;
    overflow: auto;
    -ms-overflow-style: none;
    padding-bottom: 10px;
}

.comments-box::-webkit-scrollbar {
    display: none;
}

input::placeholder {
    font-family: 'Black Han Sans', sans-serif;
}

.help {
    font-family: 'Jua', sans-serif;
}

.title-img {
    width: 80px;
    height: 80px;
}

.reverse-pink:hover {
    color: #B2A4FF;
    background-color: #FFB4B4;
    transition: color 0.4s;
}

#to-top {
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #FFDEB4;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}
.navbar-item .expand:hover {
    font-size: 25px;
    transition: font-size .2s;
    transition: color 0.4s;
}